.sidebar .nav-link.active {
    color: #f5f5f5 !important;
    background-color: #262930 !important;
}

#avatar {
    box-shadow: 1px 1px 5px rgba(0, 0, 6, 0.75);
    height: 150px !important;
    width: 150px !important;
    cursor: pointer;
}
#post_avatar {
    height: 50px !important;
    width: 50px !important;
}
#comment_avatar {
    height: 35px !important;
    width: 35px !important;
}
.card {
    box-shadow: 2px 2px 5px rgba(0, 0, 6, 0.75) !important;
}
textarea{
    resize:none !important;
}
.messages-box, .chat-box {
    height: 350px;
    overflow-y: scroll;
}
.bootstrap_chat {
    min-height: 50vh;
}
